<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toss Coin</title>
    <link rel="stylesheet" href="../gameView/style.css">
    
  </head>
  <body class="h-screen  bg-slate-300">
    <div
      class="container flex m-auto h-screen w-full lg:w-[650px] justify-center items-center  lg:h-[650px] relative flex-col bg-white lg:mt-20 lg:rounded-md "
    >
      <div class="text-center">
        <h1 class="text-red-600 font-extrabold text-[32px]">Head or Tail?</h1>
        <p>Make your guess</p>
      </div>

      <div class="w-full flex justify-around items-center gap-[25px] mt-[25px]">
        <button
          id="headGuess"
          class="w-[65px] text-[24px] border-2 border-black font-bold px-2 rounded-md"
        >
          H
        </button>
        <button
          id="tailGuess"
          class="w-[65px] text-[24px] border-2 border-black font-bold px-2 rounded-md"
        >
          T
        </button>
      </div>

      <div id="coin" class="coin images h-36 w-36 relative mx-auto mt-8 hover:cursor-pointer ">
        <div class="absolute w-full h-full transform rotate-0">
          <div  class="head absolute w-full h-full">
            <img
              id="coinHead"
              src="/public/images/22-original.jpg"
              alt="head"
              class="w-36"
            />
          </div>
          <div class="tail absolute w-full h-full hidden">
            <img
              id="coinTail"
              src="/public/images/21-original.jpg"
              alt="tail"
              class="w-36"
            />
          </div>
        </div>
      </div>

      <div class="text-center text-[20px] w-[156px] mt-[25px]">
        <p>Now tap the coin to toss it!</p>
      </div>

      <footer
        class="w-full flex justify-between items-center mb-0 absolute p-2 bottom-0"
      >
        <div>
          <h1 id="gameCount" class="text-[20px] font-bold">20 rounds left</h1>
        </div>
        <div>
          <img
            src="/public/images/aarchives.svg"
            alt="amea-archives"
            class="w-21"
          />
        </div>
      </footer>
    </div>
    <script type="module" src="./gameView.js"></script>
  </body>
</html>
